* {
	padding:0px;
	margin:0px;
}
/* font */
body {
	font-family: sans-serif;
}

/* table styles */
table,th,td {
	border-collapse: collapse;
	margin: 10px;
	padding: 8px 40px 8px 8px;
}
thead tr th {
	background-color: #55B806;
	color: white;
	border: 1px solid #ECECD8;
	border-top: none;
	border-left: none;
}
td {
	border: 1px solid #C7C5AE;
	border-left: none;
	border-bottom: none;
	border-top: none;
}
tr:nth-child(2n) {
	background-color: #ECECD8;
}

/* flags */
.flag-germany {
	background-image: url(germany.png);
	background-position: 8px 8px;
	background-repeat: no-repeat;
	padding-left: 50px;
}
.flag-mexico {
	background-image: url(mexico.png);
	background-position: 8px 8px;
	background-repeat: no-repeat;
	padding-left: 50px;
}
.flag-uk {
	background-image: url(uk.png);
	background-position: 8px 8px;
	background-repeat: no-repeat;
	padding-left: 50px;
}
