/* main */
body {
    background-color: #A9A9A9;
}
h1 {
    text-align :center;
        color: #FAFAD2;
}
footer {
    text-align: center;
}

/* nav */
ul li {
    list-style-type: none;
}
nav ul {
    text-align: center;
}

nav ul li a {
    color: #FAFAD2;
    font-weight: bold;
}
.current {
    background-color :#D3D3D3;
}
li:last-child {
    text-decoration: underline;
    color: #FAFAD2;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

/* articles */
article header h1 {
    text-align: left;
}
article footer {
    text-align: left;
}
    article footer p {
        font-size: 12px;
    }
    article footer a {
        text-decoration: none;
        color: black;
    }
